body{
    padding-top: 30px;
}

/* specifiche header */
.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6px;
    z-index: 1030;
}

.logo-sony {
    height: 100%;
    width: 75px;
}

/* specifiche sezione gioco: RETURNAL */
.returnal-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.returnal-preview{
    position: relative;
    height: 80vh;
    min-height: 500px;
}

.returnal-content{
    position: absolute;
    top: 50%;
    left: 5%;
    max-width: 400px;
    transform: translateY(-21%);
}

/* specifiche sezione gioco: IT TAKES TWO */
.takestwo-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.takestwo-preview {
    position: relative;
    height: 80vh;
    min-height: 500px;
}

.takestwo-content {
    position: absolute;
    top: 24%;
    left: 5%;
    max-width: 200px;
    transform: translateY(-21%);
}

.available-games {
    background-color: rgb(18, 18, 18);
}

/* specifiche sezione playstation plus */
.playstation-plus {
    background-color: gray;
    position: relative;
}

.playstation-plus .monthly-banner {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}

/* specifiche sezione playstation now */

.playstation-now {
    background-color: rgb(16, 16, 113);
    position: relative;
}

.playstation-now .monthly-banner {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}

/* specifiche footer */

.tostapane {
    background-color: rgb(15, 15, 180);
}

.logo-mondo {
    height: 25px;
}